.header-wrapper {
    font-family: "Recursive";
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 1em auto 0 auto;
}

/* left */

.header-left p {
    padding-bottom: 1vh;
    border-bottom: 1px solid red;
}

/* right */

.fa-github {
    font-size: 1.5em;
    cursor: pointer;
    transition: transform .2s;
}

.fa-github:hover {
    transform: scale(1.5);
    color: red;
}

@media (max-width: 400px) {
    .header-wrapper{
        text-align: center;
    }

    .header-left p {
        padding-top: 2vh;
        padding-bottom: 2vh;
        border-bottom: 1px solid red;
    }

    .fa-github {
        display: none;
    }
    
}